<div class="create_brand">
    <div class="row">
        <div class="col-6 brand_left">
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control input_field" id="name">
                </div>
                <div class="form-group">
                    <label for="categoryType">Category Type</label>
                    <select class="form-control input_field" id="categoryType">
                        <option>select</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="discount">Discount</label>
                    <input type="text" class="form-control input_field" id="discount">
                </div>
                <div class="form-group">
                    <label for="priority">Priority</label>
                    <select class="form-control select_priority" id="priority">
                        <option>select</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="file" class="form-control-file" id="brandImage">
                </div>
                <div class="form-group">
                    <textarea rows="6" class="brand_description">

                </textarea>
                </div>
            </form>
        </div>
        <div class="col-6 brand_left">
            <div class="priority_data">
                <div class="row">
                    <b>Priority List</b>
                </div>
                <div class="row">
                    <ol>
                        <li>Nike</li>
                        <li>Adidas</li>
                        <li>WoodLand</li>
                        <li>Reebak</li>
                        <li>Puma</li>
                        <li>Levis</li>
                    </ol>
                </div>
                <div class="row">
                    <b>Note:</b>
                </div>
                <div class="row">
                    <ol>
                        <li>Maximum of 10 Priorities allowed</li>
                        <li>Discount applied here will be applicable to all products in the brand</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>