.brand_left {
    padding: 33px;
}

.input_field {
box-sizing: border-box;
width: 500px;
background: #F2F2F2;
border: 1px solid #BDBDBD;
border-radius: 4px;
}

.select_priority {
    box-sizing: border-box;
width: 210px;
height: 62px;
background: #F2F2F2;
border: 1px solid #828282;
border-radius: 4px;
}

.brand_description {
box-sizing: border-box;
width: 500px;
height: 172px;
background: #F2F2F2;
border: 1px solid #BDBDBD;
border-radius: 4px;
}

.priority_data {
box-sizing: border-box;
height: 425px;
background: #F2F2F2;
border: 1px solid #E0E0E0;
border-radius: 4px;
padding: 30px;
}