.brand_left {
    padding: 33px;
}

.input_field {
box-sizing: border-box;
width: 500px;
background: #F2F2F2;
border: 1px solid #BDBDBD;
border-radius: 4px;
}

.select_priority {
    box-sizing: border-box;
width: 210px;
height: 62px;
background: #F2F2F2;
border: 1px solid #828282;
border-radius: 4px;
}

.brand_description {
box-sizing: border-box;
width: 500px;
height: 172px;
background: #F2F2F2;
border: 1px solid #BDBDBD;
border-radius: 4px;
}

.priority_data {
box-sizing: border-box;
height: 425px;
background: #F2F2F2;
border: 1px solid #E0E0E0;
border-radius: 4px;
padding: 30px;
}

.d_button {
    width: 138px;
    height: 28px;
    left: 1172px;
    top: 13px;
    color: #F2F2F2;
    margin-top: 10px;
    
    /* Blue 1 */
    
    background: #2F80ED;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    text-align: center;
    
    }

.brandImage { 
    display: block;
width: 500px;
height: 172px;
left: 30px;
top: 507px;
background: #F2F2F2;
border: 1px solid #BDBDBD;
border-radius: 4px;
}