.table_header {
    background-color: #4F4F4F;
    height: 42px;
    text-align: center;
    color: #F2F2F2;
}

.table_body {
    text-align: center;
}

.brand {
width: 42px;
height: 42px;
left: 214px;
top: 14px;

background: #C4C4C4;
border-radius: 4px;
}


select{
    cursor: pointer;
    box-sizing: border-box;
    width: 63px;
    height: 40px;
    left: 451px;
    top: 16px; 
    background: #F2F2F2;
    border: 1px solid #828282;
    border-radius: 4px;
   
}

